<div class="ChromeFooter">
  {{#if editUrl}}<div class="right"><button class="Button is-small" onclick="window.location = '{{editUrl}}'">Edit Page</button></div>{{/if}}
  <div>{{ copyright }}</div>
</div>
