<div class="ChromeNav">
  <div class="mb4">
    <a href="/" class="Logo">
      <img src="{{ logo }}" />
    </a>
  </div>
  {{#each navigation}}
    {{#navGroup title=name classNames='mb2'}}
      {{#each articles}}
        {{navItem url title}}
      {{/each}}
    {{/navGroup}}
  {{/each}}
</div>
