$heading-font-weight: $semibold;
$heading-color: rgba($loud-color, 0.9);
$reversed-heading-color: rgba($reversed-loud-color, 1);

$monospace-font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
$monospace-font-weight: $normal;
$monospace-font-size: 14px;
$monospace-line-height: 1.2;

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function calculate-rem($numerator) {
  @return #{($numerator/strip-unit($base-font-size))}rem;
}

// Font weight
.text-thin {
    font-weight: $thin;
}
.text-light {
    font-weight: $light;
}
.text-normal {
    font-weight: $normal;
}
.text-semibold {
    font-weight: $semibold;
}
.text-bold {
    font-weight: $bold;
}
.text-ultrabold {
    font-weight: $ultrabold;
}

.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}

.h1, .h2, .h3, .h4, .h5, .h6,
%h1, %h2, %h3, %h4, %h5, %h6 {
    font-weight: $heading-font-weight;
    color: $heading-color;
    .reversed & {
        color: $reversed-heading-color;
    }
}

.h1, .h2,
%h1, %h2 {
    line-height: 0.7 * $base-line-height;
}

.h3, .h4,
%h3, %h4 {
    line-height: 0.8 * $base-line-height;
}

.h5, .h6,
%h5, %h6 {
    line-height: 0.9 * $base-line-height;
}

.h1,
%h1 {
    font-size: calculate-rem(32);
    letter-spacing: 0;
}

.h2,
%h2 {
    font-size: calculate-rem(26);
    letter-spacing: -1px;
}

.h3,
%h3 {
    font-size: calculate-rem(22);
}

.h4,
%h4 {
    font-size: calculate-rem(18);
}

.h5,
%h5 {
    font-size: 1rem;
}

.h6,
%h6 {
    font-size: calculate-rem(12);
}


.monospace {
  font-family: $monospace-font-family;
  font-weight: $monospace-font-weight;
  font-size: $monospace-font-size;
  line-height: $monospace-line-height;
  -webkit-font-smoothing: auto;
}

.superscript, .subscript {
  font-size: 0.75em;
  font-weight: $normal;
  line-height: 0;
  position: relative;
}

.superscript { top: -0.5em; }
.subscript { bottom: -0.25em; }

.block-margins {
  margin: 0.5rem 0 1rem;
}
.large-block-margins {
  margin: 1rem 0 1.5rem;
}

.blockquote {
  border-left: 3px solid $border-color;
  padding-left: 1.5rem;
  font-style: italic;
}

.large-blockquote {
  font-size: 1.3em;
  font-weight: $normal;
  line-height: 1.4;
  margin: 2rem 0;
}

.table {
  border-top: 2px solid $border-color;
  margin: 2em 0;

  th { @extend .text-bold; }

  td, th {
    padding: $unit;
    border-bottom: 1px solid $border-color;

    &:first-child { padding-left: 0; }

    &:last-child { padding-right: 0; }
  }
}

.typeset {
    h1,
    .h1 {
        @extend %h1;
        margin: 1em 0 0.75em;
    }
    h2,
    .h2 {
        @extend %h2;
        margin: 1.5em 0 1em;
    }
    h3,
    .h3 {
        @extend %h3;
        margin: 1em 0 0.5em;
    }
    h4,
    .h4 {
        @extend %h4;
        margin: 1em 0 0.5em;
    }
    h5,
    .h5 {
        @extend %h5;
        margin: 1em 0 0.5em;
    }
    h6,
    .h6 {
        @extend %h6;
        margin: 1em 0 0.5em;
    }
    a {
      color: $selected-color;
    }

    p, ol, ul, blockquote { @extend .block-margins; }
    ol li { list-style: decimal; }
    ul li { list-style: disc; }
    li { margin-left: 2.25em; margin-bottom: 0.5em}

    i, em { font-style: italic; }
    b, strong { font-weight: bold; }

    blockquote { @extend .blockquote; }

    code {
      background: $silver;
      border-radius: $border-radius;
      color: $black;
      padding: ($unit/4) ($unit/2);
    }
    code, pre { @extend .monospace; }

    pre code {
      display: block;
      margin: 2em 0;
      overflow: scroll;
      padding: 1em;
    }

    sup { @extend .superscript; }
    sub { @extend .subscript; }
    table { @extend .table; }
}

