.ChromeFooter {
  margin-left: $unit * 34;
  max-width: 800px;
  padding-bottom: $unit * 3;
  padding: ($unit * 6) ($unit * 8);

  &:before {
    display: block;
    border-top: 1px solid $silver;
    margin-bottom: $unit * 6;
    content: ' ';
  }
}
